@tailwind base;
@tailwind components;
@tailwind utilities;

.rtl {
  direction: rtl;
}

.custom-height {
  @apply min-h-[calc(100vh-6rem)];
}

.main-width {
  @apply w-[calc(100vw-12rem)];
}

@font-face {
  font-family: Vazir;
  src: url("/public/fonts/Vazir-Medium-FD-WOL.ttf") format("truetype");
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-background-clip: text;
}
